@{
    ViewBag.Title = "城市实时发布数据";
}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a class="navbar-brand" href="#">Brand</a>*@
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="pollutantNav" class="nav navbar-nav">
                <li role="presentation" class="active" name="AQI"><a href="#">AQI</a></li>
                <li role="presentation" name="SO2"><a href="#">SO<sub>2</sub></a></li>
                <li role="presentation" name="NO2"><a href="#">NO<sub>2</sub></a></li>
                <li role="presentation" name="PM10"><a href="#">PM<sub>10</sub></a></li>
                <li role="presentation" name="CO"><a href="#">CO</a></li>
                <li role="presentation" name="O3"><a href="#">O<sub>3</sub></a></li>
                <li role="presentation" name="PM25"><a href="#">PM<sub>2.5</sub></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
@Html.DropDownList("Province", NAQRPD.Web.Models.DataQuery.GetProvinceSelectList(), "", new { @class = "form-control" })
<div id="chart" style="height:800px;"></div>
@section scripts{
    <script src="~/Scripts/echarts/dist/echarts.min.js"></script>
    <script src="~/Scripts/echarts/map/js/china.js"></script>
    <script src="~/Scripts/PollutantConst.js"></script>
    <script>
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('chart'));
        var option = {
            backgroundColor: '#404a59',
            title: {
                text: '',
                subtext: 'AQI',
                x: 'center',
                textStyle: {
                    color: '#fff'
                }
            },
            tooltip: {
                trigger: 'item',
                formatter: function (params) {
                    if (params.value[2] < 0) return params.name + '：—';
                    else return params.name + '：' + params.value[2];
                }
            },
            visualMap: {
                type: 'piecewise',
                pieces: [
                        { gt: 300, label: '严重污染' },
                        { gt: 200, lte: 300, label: '重度污染' },
                        { gt: 150, lte: 200, label: '中度污染' },
                        { gt: 100, lte: 150, label: '轻度污染' },
                        { gt: 50, lte: 100, label: '良' },
                        { gte: 0, lte: 50, label: '优' },
                        { lt: 0, label: '无数据' }
                ],
                color: ['#7e0023', '#99004c', '#ff0000', '#ff7e00', '#ffff00', '#00e400', '#333333'],
                textStyle: {
                    color: '#fff'
                },
                show: true
            },
            geo: {
                map: 'china',
                roam: true,
                label: {
                    emphasis: {
                        show: false
                    }
                },
                itemStyle: {
                    normal: {
                        areaColor: '#323c48',
                        borderColor: '#111'
                    },
                    emphasis: {
                        areaColor: '#2a333d'
                    }
                }
            },
            series: [
                {
                    name: 'AQI',
                    type: 'scatter',
                    coordinateSystem: 'geo',
                    data: [],
                    symbolSize: 12,
                    label: {
                        normal: {
                            show: false
                        },
                        emphasis: {
                            show: false
                        }
                    },
                    itemStyle: {
                        emphasis: {
                            borderColor: '#fff',
                            borderWidth: 1
                        }
                    }
                }
            ]
        };

        var data = [];
        function GetSeriesData(pollutant) {
            var seriesData = [];
            for (var i in data) {
                var temp = data[i];
                seriesData.push({
                    name: temp.Name,
                    value: [temp.Longitude, temp.Latitude, temp[pollutant] == null ? -99 : temp[pollutant]]
                });
            }
            return seriesData;
        }

        $.ajax({
            url: '/Home/GetIndexData',
        }).done(function (jsonData) {
            data = jsonData;
            option.series[0].data = GetSeriesData("AQI");
            if (data.length > 0) option.title.text = '全国主要城市空气质量实时发布数据（' + GetTimeFromJsonString(data[0].Time).ToString("yyyy-MM-dd HH:mm") + '）';
            else option.title.text = '全国主要城市空气质量实时发布数据（' + new Date().ToString("yyyy-MM-dd HH:mm") + '）';
            myChart.setOption(option);
            $(document).ready(function () {
                var pollutantConst = new PollutantConst();
                $("#pollutantNav > li").click(function () {
                    $("#pollutantNav > li.active").removeClass("active");
                    $(this).addClass("active");
                    var pollutant = $(this).attr("name");
                    option.series[0].data = GetSeriesData(pollutant);
                    option.visualMap.pieces = pollutantConst.GetPieces('hour', pollutant, true);
                    option.title.subtext = $(this).text();
                    myChart.setOption(option);
                });
            });
        });
    </script>
}